<a href="https://colab.research.google.com/github/Rohini0210/Python-Fundamentals/blob/master/ss2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
%%time
N=100000000
list_=list(range(N))
list_=map(lambda x:x*x,list_)

CPU times: user 3.48 s, sys: 4.36 s, total: 7.84 s
Wall time: 7.81 s

In [ ]:
%%time

m=np.arange(N)
m=m*m

CPU times: user 354 ms, sys: 10 ms, total: 364 ms
Wall time: 365 ms

In [ ]:
ar=np.ones((2,3,2))

In [ ]:
np.array(['2.345','3.123'])

array(['2.345', '3.123'], dtype='<U5')

In [ ]:
np.exp(ar)

array([[[2.71828183, 2.71828183],
        [2.71828183, 2.71828183],
        [2.71828183, 2.71828183]],

       [[2.71828183, 2.71828183],
        [2.71828183, 2.71828183],
        [2.71828183, 2.71828183]]])

# Python Introduction

In [ ]:
print("Hello World!")
print("Hello from gleanup")

Hello World!
Hello from gleanup

In [ ]:
print("PathAI")
print("Path" + "AI")

PathAI
PathAI

In [ ]:
print(1000 + 729)

In [ ]:
print(55/34)

In [ ]:
print(True)

True

In [ ]:
print(True or False)

True

#Variables and datatypes

In [ ]:
school="gleanup"
print("school")

school

In [ ]:
another_school = "gleanup"
print(another_school)

gleanup

In [ ]:
print(id(school))

140116464969184

In [ ]:
#another_school = "Tamilnadu"
print(id(another_school))

140116464969184

In [ ]:
#print all datatypes
golden_ratio = 3+4j
print(type(golden_ratio))

<class 'complex'>

In [ ]:
my_name = input("What is your name ")
hours_per_day = input("How many hours per day do you study ")

What is your name ini
How many hours per day do you study 2

In [ ]:
print(my_name + " studies for " + hours_per_day + " hours")

ini studies for 2 hours

In [ ]:
hours_per_week =(hours_per_day) * 7

In [ ]:
print(my_name , " studies for " , hours_per_week, " hours")

ini  studies for  14  hours

In [ ]:
hours_per_day_int = int(hours_per_day)

In [ ]:
hours_per_week_int = hours_per_day_int* 7

In [ ]:
print(my_name , " studies for " , hours_per_week_int, " hours")

ss  studies for  42  hours

In [ ]:
print("welcome","You","all",sep="##")

welcome##You##all

In [ ]:
print("welcome",end="")
print("You")
print("all")

welcomeYou
all

In [ ]:
a=33
d=10
del d
print(a,d)

NameError: ignored

In [ ]:
x=2.3453456
print(int(x))

2

In [ ]:
a=23
b=4
print(complex(a))

(23+0j)

In [ ]:
a=34
b=11
a>b

True

In [ ]:
c={3,4,5,6}
print(type(c))

<class 'set'>

#Operators

In [ ]:
a = 12
b = 2
add = a + b  
sub = a - b  
mul = a * b  
div1 = a / b  
# Division(floor) of number   
div2 = a // b  
# Modulo of both number,Reminder  
mod = a % b 
print(mod)

0

In [ ]:
a = 13
b = 33
  
print(a > b)  
print(a < b)  
print(a == b)  
print(a != b)  
print(a >= b)  
print(a <= b)

False
True
False
True
False
True

In [ ]:
a = False
b = True

# Print a and b is False  
print(a and b)  
    
# Print a or b is True  
print(a or b)  
    
# Print not a is False  
print(not b)

False
True
False

In [ ]:
a=int(input("Enter first number"))
b=int(input("Enter second number"))
# Print bitwise AND operation    
print(a & b)  
# Print bitwise OR operation  
print(a | b)  
# Print bitwise NOT operation   
print(~a)  
# print bitwise XOR operation   
print(a ^ b)  
# print bitwise right shift operation   
print(a >> 2)  
# print bitwise left shift operation   
print(a << 2)

Enter first number2
Enter second number3
2
3
-3
1
0
8

In [ ]:
a1 = 'PathAI'
b1 = 'ML'
# Identity operator 
print(b1 is not a1) 
print(a1 is b1) 
# Membership operator 
print(b1 in a1) 
print("A" not in b1)

True
False
False
True

In [ ]:
n=int(input())
print("Previous number",n-1)
print("Cube of the number",n*n*n)

2
Previous number 1
Cube of the number 8

#Control Structures

In [ ]:
hours_per_week = 20

In [ ]:
my_name="rini"

In [ ]:
if hours_per_week > 10:
    print(my_name + " you are doing well")

In [ ]:
if (hours_per_week > 10):
  print(my_name + " you are doing well")
print("Outside If")

Outside If

In [ ]:
if hours_per_week > 10:
    print(my_name + " you are doing well")
elif hours_per_week==10:
  print("Better one keep doing")
else:
    print(my_name + " you need to study more")

rini you are doing well

In [ ]:
s=input("Please enter your character")
v=['a','e','i','o','u','A','E','I','O','U']
if (s in v):
  print("Entered is a vowel")
else:
  print("Consonant")

Please enter your charactero
Entered is a vowel

In [ ]:
s=input("Please enter your character")
if(s.isalnum()):
  print("Entered is an alphabet")
else:
  print("Others")

Please enter your character@
Others

In [ ]:
s=int(input("Please enter your number"))
if(s%2==0 and s%4==0):
  print(s)
else:
  print(s+10)

Please enter your number6
16

In [ ]:
s=input("Please enter your name")
l=len(s)
m=len(s)//2
print(s[0],s[m])

Please enter your namenityanandam
n n

In [ ]:
a=2
b=4
n=100
for i in range(1,n+1):
  if ((i%a==0) and (i%b!=0)):
    print('fizz')
  elif ((i%a!=0) and (i%b==0)):
    print('buzz')
  elif ((i%a==0) and (i%b==0)):
    print('fizzbuzz')

In [ ]:
weight = float(input("Enter your weight in kgs "))
height_unit = input('What is your preferred unit of height "F" of feet and "M" for meters ')

if height_unit == "F":
    feet = int(input(("Please enter both feet and inches. Now enter feet ")))
    inches = int(input(("Now enter inches ")))
    meters = (feet + inches/12) * 0.3048
else:
    meters = float(input("Please enter your height in meters "))

height = meters

bmi = weight / height**2

print("Your BMI is", bmi)

if bmi < 18.5:
    print("You are UNDERWEIGHT. Please consult doctor")
elif bmi < 25:
    print("You are NORMAL. Great going.")
elif bmi < 30:
    print("You are OVERWEIGHT. Watch out.")
else:
    print("You are VERY OVERWEIGHT. Please consult doctor")

Enter your weight in kgs 67
What is your preferred unit of height "F" of feet and "M" for meters m
Please enter your height in meters 1.67
Your BMI is 24.023808670084982
You are NORMAL. Great going.

LOOPING

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
for i in range(2, 5):
    print(i, pow(i,3))

2 8
3 27
4 64

In [ ]:
i=1
while (i<10):
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9

In [ ]:
a=0
for j in range(1, 100, 2):
    print(j)

In [ ]:
m=int(input(("Input first range")))
n=int(input(("Second range")))
for i in range(m,n+1,2):
  print(i)

Input first range0
Second range10
0
2
4
6
8
10

In [ ]:
x,y,z=map(int,(input().split(" ")))
print(x+y+z)

10 20 30
60

#More on loops

In [ ]:
fruits = ["apple", "banana",5,1.34]
for x in fruits:
 print(x)

apple
banana
5
1.34

In [ ]:
#sorted,reversed
albums = ('Poe','Guadi','Freud','Poe2')
years = (1976,1987,1990,2003)
for i in reversed(albums):
  print(i)

Poe2
Freud
Guadi
Poe

In [ ]:
albums =('Poe','Guadi','Freud','Poe2')
years = ( 1976, 1987, 1990, 2003 )
for i, album in enumerate(albums,20):
  print (i,album)

20 Poe
21 Guadi
22 Freud
23 Poe2

In [ ]:
albums = ('Poe','Guadi','Freud','Poe2')
years = ( 1976, 1987, 1990, 2003,2020 )
for album, yr in zip(albums, years):
  print (album, yr)

Poe 1976
Guadi 1987
Freud 1990
Poe2 2003

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 4:
    break
  i += 1

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
for i in range(1, 11):  
    if i == 6:  
        break;
    else:  
        print(i)

In [ ]:
sequence = ('f', 'a', 's', 't')
for val in sequence:
  pass

In [ ]:
x=list(map(int,input().split()))
#a,b,c,d=map(int,input().split()))
print(x)
p=1
for i in x:
  p=p*i
print(p)

2 10 2
[2, 10, 2]
40

In [ ]:
N=int(input("Enter the Nth multiplication"))
for i in range(1,11):
  print(i,"X",N,"=",i*N)

Enter the Nth multiplication3
1 X 3 = 3
2 X 3 = 6
3 X 3 = 9
4 X 3 = 12
5 X 3 = 15
6 X 3 = 18
7 X 3 = 21
8 X 3 = 24
9 X 3 = 27
10 X 3 = 30

In [ ]:
n=int(input("No of lines"))
for i in range(0,n):
  for m in range(0,i):
    print("*",end="")
  print("")

No of lines5

*
**
***
****

In [ ]:
n,min,max=map(int,input().split(" "))
i=1
count=0
flag=1
while(flag==1):
  if((pow(i,n)>=min and pow(i,n)<=max)):
    count=count+1 
    #count+=1
  if(pow(i,n)>max):
    flag=0
  i=i+1
print("No of power of n values within the range are",count)

3 10 200
No of power of n values within the range are 3

In [ ]:
(row=int(input())
for i in range(1,row):
  for j in range(1,i):
    print(j,end=" ")
  print("\n")

10


1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

1 2 3 4 5 6

1 2 3 4 5 6 7

1 2 3 4 5 6 7 8

#String Processing

In [ ]:
topic = "Fundamentals of python"

In [ ]:
print(topic[-2])
len1=len(topic)
print(len1)

o
22

In [ ]:
#SLicing
print(topic[3:10])

damenta

In [ ]:
print(topic[2:8])

ndamen

In [ ]:
print(topic[7:])

ntals of python

In [ ]:
print(topic[::-1])

nohtyp fo slatnemadnuF

In [ ]:
print(topic[2:20:3])

nmtsfy

In [ ]:
a="  roh  ini "
print(a.strip())

roh  ini

In [ ]:

a="Hello your my world"
print(a[1])
lst=a.split()
print(lst)

e
['Hello', 'your', 'my', 'world']

In [ ]:
print(topic.lower())

fundamentals of python

In [ ]:
print(topic.upper())

FUNDAMENTALS OF PYTHON

In [ ]:
print(topic)
print(topic.islower())

Fundamentals of python
False

In [ ]:
print(topic.find("Funda"))

0

In [ ]:
print(topic[16])

P

In [ ]:
print(topic.replace("python","on"))
print(topic)

Fundamentals of on
Fundamentals of python

In [ ]:
print(topic.replace("Fun", "BY"))

BYdamentals of python

In [ ]:
print(topic*3)

FUNDAMENTALS OF PYTHONFUNDAMENTALS OF PYTHONFUNDAMENTALS OF PYTHON$

In [ ]:
#to print input Swap the case and print from third letter
x=input()
print(x[0:2],x[2:].swapcase())

GLEANUP
GL eanup

In [ ]:
# add seperators to input string
r=input()
sep="%"
print(sep.join(r))

gleanup
g%l%e%a%n%u%p

In [ ]:
s='''fege
fger ergtr
42t5
44 thhj kly
gfjgf'''
print(s[0])

f

In [ ]:
C=300

print(C%N)

In [ ]:
#substring is present n string or not 
s1="rohini is girl"
s2="is"
if s2 in s1:
  print("yes")
else:
  print("no")

yes

In [ ]:
#to check number or alphabet
r=input()
#if (r.isdigit()):
if (r.isalpha()):
  print("only alphabets")
else:
  print("numbers also")

rohini22
numbers also

In [ ]:
f=input().split()
for i in f:
  if i.endswith("a"):
    print(i,end=" ")

mana
mana

In [ ]:
#read a string, at 'n'th character, insert char 'c' '''
s=input("enter a string: ") 
n=int(input("enter n: "))
c=input("enter a character to replace: ")
s=s[0:n]+c+s[n:] 
print("output string = ",s)

enter a string: flower
enter n: 4
enter a character to replace: r
output string =  flowrer

In [ ]:
#count a character in a string 
s=input("enter a string: ")
c=input("enter a char: ")
count=0 
for i in s: 
  if i==c: 
    count=count+1 
print("the character ",c,"Occurs",count,"Times")

enter a string: flower
enter a char: c
the character  c Occurs 0 Times

In [ ]:
print("This is called as \"escaping character\"")

This is called as "escaping character"

#REGEX

In [ ]:
import re
i='''dat,pat mat,rat,data
adsfgsadg
sdgfsdg
sdgsfadg'''
rex=re.search("dat",i)
print(rex.group())

<_sre.SRE_Match object; span=(0, 3), match='dat'>

In [ ]:
import re 
i="dat,pat mat,rat,data"
rex=re.findall("[d]",i)
print(rex)

['d', 'd']

In [ ]:
import re
i="dat,pat mat,rat,data"
rex=re.finditer("dat",i)
for i in rex:
  print(i.span())

(0, 3)
(16, 19)

In [ ]:
import re
i="dat,pat mat,rat,data"
rex=re.findall("[a-m]ata",i)
for im in rex:
  print(im)

data

In [ ]:

# Module Regular Expression is imported using __import__(). 
import re 

# compile() creates regular expression character class [a-e], 
# which is equivalent to [abcde]. 
# class [abcde] will match with string with 'a', 'b', 'c', 'd', 'e'. 

p = re.compile('[a-z]') 
  
# findall() searches for the Regular Expression and return a list upon finding 
print(p.findall("Its covid pandemic times"))

['t', 's', 'c', 'o', 'v', 'i', 'd', 'p', 'a', 'n', 'd', 'e', 'm', 'i', 'c', 't', 'i', 'm', 'e', 's']

In [ ]:

import re 
  
# \d is equivalent to [0-9]. 
p = re.compile('\d') 
print(p.findall("I met him on 02.10.1989 during evening 6.25pm")) 
  
# \d+ will match a group on [0-9], group of one or greater size 
p = re.compile('\d+') 
print(p.findall("I met him on 02.10.1989 during evening 6.25pm"))

['0', '2', '1', '0', '1', '9', '8', '9', '6', '2', '5']
['02', '10', '1989', '6', '25']

In [ ]:

import re 
  
# \w is equivalent to [a-zA-Z0-9_]. 
p = re.compile('\w') 
print(p.findall("her id changed on 11.02.2020 as mrohinibtech@xyz.co.in")) 
  
# \w+ matches to group of alphanumeric character. 
p = re.compile('\w+') 
print(p.findall("her id changed on 11.02.2020 as mrohinibtech@xyz.co.in")) 
  
# \W matches to non alphanumeric characters. 
p = re.compile('\W') 
print(p.findall("her id changed on 11.02.2020 as mrohinibtech@xyz.co.in"))

p = re.compile('\d+') 
print(p.findall("her id changed on 11.02.2020 as mrohinibtech@xyz.co.in"))

p = re.compile('\S') 
print(p.findall("her id changed on 11.02.2020 as mrohinibtech@xyz.co.in"))

p = re.compile('\s') 
print(p.findall("her id changed on 11.02.2020 as mrohinibtech@xyz.co.in"))

['h', 'e', 'r', 'i', 'd', 'c', 'h', 'a', 'n', 'g', 'e', 'd', 'o', 'n', '1', '1', '0', '2', '2', '0', '2', '0', 'a', 's', 'm', 'r', 'o', 'h', 'i', 'n', 'i', 'b', 't', 'e', 'c', 'h', 'x', 'y', 'z', 'c', 'o', 'i', 'n']
['her', 'id', 'changed', 'on', '11', '02', '2020', 'as', 'mrohinibtech', 'xyz', 'co', 'in']
[' ', ' ', ' ', ' ', '.', '.', ' ', ' ', '@', '.', '.']
['11', '02', '2020']
['h', 'e', 'r', 'i', 'd', 'c', 'h', 'a', 'n', 'g', 'e', 'd', 'o', 'n', '1', '1', '.', '0', '2', '.', '2', '0', '2', '0', 'a', 's', 'm', 'r', 'o', 'h', 'i', 'n', 'i', 'b', 't', 'e', 'c', 'h', '@', 'x', 'y', 'z', '.', 'c', 'o', '.', 'i', 'n']
[' ', ' ', ' ', ' ', ' ', ' ']

In [ ]:

import re 
  
# '*' replaces the no. of occurrence of a character. 
p = re.compile('ab*') 
print(p.findall("ababbabbcccbbbabbaab"))

['ab', 'abb', 'abb', 'abb', 'a', 'ab']

In [ ]:
#extract email id from text
import re 
emailAddress = input()
pat2 = re.compile("\S+\@+\S+.")
r2 = pat2.findall(emailAddress)
print(r2)

once upon a time ths was history in tt@gmail.com sfdg
['tt@gmail.com ']

In [ ]:
r="sachin"
print(r[::-1])

nihcas

In [ ]:
def fun1(t):
  return t==t[::-1]

s="madan"
a=fun1(s)

if a:
  print("Palindrome string")
else:
  print("Not a palindrome")

Not a palindrome

#Miscellaneous

In [ ]:
#print characters in even position,starting and increment value
f=input()
for s in f:
  print(s[0:2:2])

sachin
s
a
c
h
i
n

In [ ]:
f=input().split()
for i in f:
  if i.endswith("a"):
    print(i,end=" ")

In [ ]:
a="The quick brown fox jumps over the laZy dog"
b="abcdefghijklmnopqrstuvwxyz"
f=0
for char in b:
  if char not in a:
    if char not in a.lower():
      f=1
      break;

if(f==1):
  print("not a panagram string")
else:
  print("yes it is a panagram")

yes it is a panagram

In [ ]:
r=input("Enter a string")
print(r.swapcase())

Enter a stringSACHIN tendulkar
sachin TENDULKAR

In [ ]:
n=int(input())
d=dict()
for i in range(1,n+1):
  d[i]=i*i*i
print(d)

10
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [ ]:
n=list(map(int,(input().split())))
s=[]
for i in n:
  if i not in s:
    s.append(i)
print(s)

0

1 2 3 4 5 3 2 1
[1, 2, 3, 4, 5]

In [ ]:
def fibonacc(n):
  x=1
  y=1
  print(x,y)
  i=0
  while (i<=n):
    t=x+y
    x=y
    y=t
    i+=1
    print(t)

fibonacc(5)

1 1
2
3
5
8
13
21

In [ ]:
val = input_single_float_inverse('Enter number ')
print(val)

Enter number 23
0.043478260869565216

In [ ]:
#Get your name as input and print the name ‘n’ times. Get the value of n from user. Implement the code. use functions
def printi(nm,n):
  print(nm*n)

#Driver code
st=input("Enter string")
n1=int(input("Get count"))
printi(st,n1)

Enter stringrohinim
Get count4
rohinimrohinimrohinimrohinim

In [ ]:

#Calculate the sum and average of first n natural numbers. Get the value of n from user. Implement the code. use functions.

def sumav(n):
  sum1=0
  for i in range(1,n+1): #range from 1 to 'n' 
    sum1=sum1+i
  avg=sum1/n 
  print("Sum of first ",n," natural numbers = ",sum1,avg)

n=int(input("Enter n: ")) 
sumav(n)

Enter n: 10
Sum of first  10  natural numbers =  55 5.5

In [ ]:
#get n,x.print multiple of n until multiple of n divisible by x

def multipleglean(a,b):
  multi=a
  flag=1
  while(flag):
    print(multi,end=" ")
    if multi%b==0:
      flag=0
    else:
      multi+=a

multipleglean(2,5)

2 4 6 8 10

# Lists

In [ ]:
course_name = "Foundations of Data Science"

In [ ]:
words = course_name.split()

In [ ]:
print(words[2])

Data

In [ ]:
print(type(course_name))

<class 'str'>

In [ ]:
print(type(words))

<class 'list'>

In [ ]:
print(words[:-1])

['Foundations', 'of', 'Data']

In [ ]:
print(type(words[-2]))

<class 'str'>

In [ ]:
print(words[-2].lower())

data

In [ ]:
print(words[:])

['Foundations', 'of', 'Data', 'Science']

In [ ]:
print(words[:2])

['Foundations', 'of']

#SLICING
[start : stop : steps]  

which means that slicing will start from index start
 will go up to stop in step of steps. 
 Default value of start is 0, stop is last index of list
 and for step it is 1

In [ ]:
print(type(words[1:]))

['of', 'Data', 'Science']

In [ ]:
new_words = ["Machine", "Learning"]

In [ ]:
print(type(new_words))

<class 'list'>

In [ ]:
print(new_words[0])

Machine

In [ ]:
fibonacci_list = [1, 1, 2, 3, 5, 8, 13, 21]

In [ ]:
print(type(fibonacci_list[0]))

<class 'int'>

In [ ]:
print(fibonacci_list[0] + 10)

11

In [ ]:
for num in fibonacci_list:
    print(num + 10)

11
11
12
13
15
18
23
31

working

In [ ]:
length = len(fibonacci_list)
print(length)

8

In [ ]:
for i in range(length):
    print(i, fibonacci_list[i])

0 1
1 1
2 2
3 3
4 5
5 8
6 13
7 21

In [ ]:
bmi_record = ["Krishna", 75,1.73, False]

In [ ]:
x=[3,5,1,9,5]
x.sort()
print(x)

[1, 3, 5, 5, 9]

In [ ]:
import copy

In [ ]:
bmi_record.index(1.73)

2

In [ ]:
bmi_record.count(1.73)

NameError: ignored

In [ ]:
print(type(bmi_record))

<class 'list'>

In [ ]:
for item in bmi_record:
    print(item, type(item))

Krishna <class 'str'>
75 <class 'int'>
1.73 <class 'float'>
False <class 'bool'>

In [ ]:
bmi_record[0] = "Krishna A"

In [ ]:
bmi_record.append("krishnaa@idontknow.com")

In [ ]:
bmi_record.insert(2,"gitateller")

In [ ]:
bmi_record.remove(bmi_record[2])

In [ ]:
bmi_record.pop(4)

'krishnaa@idontknow.com'

In [ ]:
for item in bmi_record:
    print(item, type(item))

Krishna <class 'str'>
75 <class 'int'>
2 <class 'int'>
False <class 'bool'>
krishnaa@idontknow.com <class 'str'>
2 <class 'int'>

In [ ]:
a=[[1,2,3],[1,2,1],[1,1,1]]
b=[[1,10,1],[2,2,2],[1,2,1]]
for i in range(0,3):
  for j in range(0,3):
   print(a[i][j]+b[i][j])

2
12
4
3
4
3
2
3
2

In [ ]:
a.remove(a[0])

In [ ]:
a.pop()

IndexError: ignored

In [ ]:
print(a)

[]

# Lists - continued

In [ ]:
bmi_dataset = [
               ["Krishna", 75, 1.73, False],
               ["Bheem", 120, 1.78, True]
]

In [ ]:
print(type(bmi_dataset[1]))

<class 'list'>

In [ ]:
print(bmi_dataset[0])

['Krishna', 75, 1.73, False]

In [ ]:
print(type(bmi_dataset[0][0]))

<class 'str'>

In [ ]:
print(bmi_dataset[1][2])

1.78

In [ ]:
bmi_dataset[1].append("bheem@foodtruck.com")

In [ ]:
bmi_dataset[0].append("krishnaa@idontknow.com")

In [ ]:
print(bmi_dataset)

[['Krishna', 75, 1.73, False, 'krishnaa@idontknow.com'], ['Bheem', 129, 1.78, True, 'bheem@foodtruck.com']]

In [ ]:
bmi_dataset[1][1] = 129

In [ ]:
identity_3 = [
              [1, 0, 0],
              [0, 1, 0],
              [0, 0, 1]
]

In [ ]:
print(identity_3[2][1])

0

In [ ]:
A = [1, 2]

In [ ]:
B = A

In [ ]:
print(B)

[1, 2]

In [ ]:
A[0] = A[0] + A[1]

In [ ]:
print(A)

[3, 2]

In [ ]:
print(B)

[3, 2]

In [ ]:
A = [1, 2]

In [ ]:
B = [item for item in A]

In [ ]:
print(B)

[1, 2]

In [ ]:
A[0] = A[0] + A[1]

In [ ]:
print(A)

[3, 2]

In [ ]:
print(B)

[1, 2]

In [ ]:
import copy 

# Initializing list  
lis1 = [ 1, 2, 3, 4 ] 
  
# Using shallow copy techniques to create a shallow copy 
lis2 = lis1.copy() 
lis3 = copy.copy(lis1) 
lis4 = lis1[:] 
  
# Adding new element to new lists 
lis2.append(5) 
lis3.append(5) 
lis4.append(5) 
  
# Printing lists after adding new element 
# No change in old list 
print ("The new list created using copy.copy() : " + str(lis2)) 
print ("The new list created using list.copy() : " + str(lis3)) 
print ("The new list created using slicing : " + str(lis4)) 
print ("The old list after adding new element to new list  : " + str(lis1)) 
  
print ("\n") 
  
# Using deep copy techniques to create a deep copy 
lis2 = lis1 
lis3 = copy.deepcopy(lis1)  
  
# Adding new element to new lists 
lis2.append(5) 
lis3.append(5) 
  
  
# Printing lists after adding new element 
# changes reflected in old list 
print ("The new list created using copy.deepcopy() : " ,lis2) 
print ("The new list created using = : " + str(lis3)) 
print ("The old list after adding new element to new list  : " + str(lis1))

The new list created using copy.copy() : [1, 2, 3, 4, 5]
The new list created using list.copy() : [1, 2, 3, 4, 5]
The new list created using slicing : [1, 2, 3, 4, 5]
The old list after adding new element to new list  : [1, 2, 3, 4]


The new list created using copy.deepcopy() :  [1, 2, 3, 4, 5]
The new list created using = : [1, 2, 3, 4, 5]
The old list after adding new element to new list  : [1, 2, 3, 4, 5]

#A list comprehension generally consist of these parts :

    Output expression,
    Input sequence,
    A variable representing a member of the input sequence and
    An optional predicate part.
    For example :

lst  =  [x ** 2  for x in range (1, 11)   if  x % 2 == 1] 

here, x ** 2 is output expression, 
      range (1, 11)  is input sequence, 
      x is variable and   
      if x % 2 == 1 is predicate part.

In [ ]:
lst = [x ** 2 for x in range (1, 11) if x % 2 == 1] 
print(lst)

[1, 9, 25, 49, 81]

In [ ]:
bl=[1,0,1,1,1,0,0,1,0,1]
zero=[x for x in bl if(x==0)]
print(zero)
ones=[x for x in bl if(x==1)]
print(ones)

[0, 0, 0, 0]
[1, 1, 1, 1, 1, 1]

In [ ]:
# below list contains power of 2 from 1 to 8 
power_of_2 = [2 ** x for x in range(1, 9)] 
print power_of_2

In [ ]:
# list for lowering the characters 
print [x.lower() for x in ["A","B","C"]]

In [ ]:
# list which extracts number 
string = "my phone number is : 11122 !!"
  
print("\nExtracted digits") 
numbers = [x for x in string if x.isdigit()] 
print numbers

In [ ]:

# A list of list for multiplication table 
a = 5
table = [[a, b, a * b] for b in range(1, 11)] 
  
print("\nMultiplication Table") 
for i in table: 
    print(i)

Multiplication Table
[5, 1, 5]
[5, 2, 10]
[5, 3, 15]
[5, 4, 20]
[5, 5, 25]
[5, 6, 30]
[5, 7, 35]
[5, 8, 40]
[5, 9, 45]
[5, 10, 50]

In [ ]:

# Python program to demonstrate list comprehension in Python  
  
# below list contains square of all odd numbers from 
# range 1 to 10 
odd_square = [x ** 2 for x in range(1, 11) if x % 2 == 1] 
print odd_square 
  
# for understanding, above generation is same as, 
odd_square = [] 
for x in range(1, 11): 
    if x % 2 == 1: 
        odd_square.append(x**2) 
print odd_square

yes

In [ ]:
()